
body {
    color:black;
    background-color:white;
    background-image:url(../illustration/ofpages/background.png);
    }

    /* navabar */

.logo {
    margin-top: 2%;
}

.menu {
    display: flex;              /* Transformation en flexbox */
    padding:0;                  /* Suppression des marges internes */
}

.menu li {
    list-style-type: none ;       /* Suppression des puces */
}

.menu a {
    display:block;                /* Transformation en block */
    min-width: 120px;             /* Largeur minimale des liens */
    color: white;
}

.navbar{
    margin-left: 70%;
    margin-top: -2%;
}

.milieu1{
    display: flex;
}
